<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - 丁先杰的个人博客</title>
    <meta name="keywords" content="个人博客,丁先杰个人博客,丁先杰"/>
    <meta name="description" content="丁先杰个人博客，记录生活，分享学习心得！"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/timeline.css" rel="stylesheet">
    <script src="/static/js/scrollReveal.js"></script>
    {% block head %}
    {% endblock head %}

    <!--[if lt IE 9]>
    <script src="/static/js/modernizr.js"></script>
    <![endif]-->

</head>
<body>
<header>
    <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/"><img src="/static/images/logo.png"></a></div>
    <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
        <a href="/index/"><span id="首页">首页</span><span class="en">Home</span></a>
        <a href="/articles/share/1"><span id="分享">分享</span><span class="en">Share</span></a>
        <a href="/articles/note/"><span id="笔记">笔记</span><span class="en">Note</span></a>
        <a href="/articles/life/"><span id="生活">生活</span><span class="en">Life</span></a>
        <a href="/articles/about/"><span id="关于我">关于我</span><span class="en">About</span></a>
        {% if request.session.user_name %}
        <a class="user" href="/user/logout/"><span id="登录/注册">{{ request.session.user_name }}</span><span class="en">Logout</span></a>
        {% else %}
        <a class="user" href="/user/login/"><span id="登录/注册">登录/注册</span><span class="en">Login or sigh</span></a>
        {% endif %}        
        <!--<a href="/articles/gbook"><span>留言</span><span class="en">Saying</span></a>-->
        
    </nav>
</header>

{% block articles %}
{% endblock articles %}

<footer>
    <ul >
		<li>Powered by :  <a href="http://www.djangoproject.com/" target="_blank">Django</a></li>
		<li><a href="https://www.bwh1.net/" target="_blank">Bandwagon</a></li>
		<li><a href="http://nginx.org/" target="_blank">Nginx</a></li>
	</ul>
	<a href="https://github.com/denjay/" target="_blank">GitHub: denjay</a>
</footer>
<b id="gotop">↑</b>

<script>
    var topbtn = document.getElementById("gotop");
    var timer = null;
    // 获取屏幕的高度
    var pagelookheight = document.documentElement.clientHeight;
    
    // 滚动超出高度，显示按钮，否则隐藏
    window.onscroll = function(){                
        var backtop = document.documentElement.scrollTop;
        // 滚动超过一频,应该显示
        if(backtop >= pagelookheight){
            topbtn.style.display = "block";
        }
        else{
            topbtn.style.display = "none";
        }
    }

    // 点击回到顶部按钮时的动作
    topbtn.onclick = function () {
            timer = setInterval(function () {
            var backtop = document.documentElement.scrollTop;  
            // 速度操作  减速
            var speedtop = backtop/5;  
            document.documentElement.scrollTop = backtop -speedtop;  // 高度不断减少
            if(backtop ==0){  // 滑动到顶端
                clearInterval(timer);  // 清除计时器
            }
        }, 30);
    }

    // 标示出所在板块
    document.getElementById("{{ title }}").style.borderBottom="2px solid rgba(200,200,200,0.7)";
</script>

<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
</body>
</html>
