{% extends 'base.html' %}

{% block head %}
<link href="/static/css/timeline.css" rel="stylesheet">
{% endblock head %}

{% block articles %}
<article>
    <div class="container">
        {% block top %}
        {% endblock top %}
        <ul class="cbp_tmtimeline">
            {% for article in articles %}
            <li>
                <time class="cbp_tmtime"><span>{{ article.date | date:"m-d" }}</span> <span>{{ article.date | date:"Y" }}</span>
                </time>
                <div class="cbp_tmicon"></div>
                <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
                    <h2>{{ article.title }}</h2>
                    <div>
                        <span class="blogpic"><a href="/articles/detail/{{ article.id }}" target="_blank"><img
                                src="/static/media/{{ article.cover }}"></a></span>
                        <span>{{ article.content | striptags | truncatechars:'120' }}</span>
                    </div>
                    <a href="/articles/detail/{{ article.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                    <p class="views">点击量：{{ article.click }}</p>

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</article>
{% endblock articles %}