{% extends 'base.html' %}

{% block articles %}
<article>
    <div class="container">
        {% block top %}
        {% endblock top %}
        <ul class="cbp_tmtimeline">
            {% for article in page_object.object_list %}
            <li>
                <time class="cbp_tmtime"><span>{{ article.date | date:"m-d" }}</span> <span>{{ article.date | date:"Y" }}</span>
                </time>
                <div class="cbp_tmicon"></div>
                <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
                    <h2>{{ article.title }}</h2>
                    <div>
                        <span class="blogpic"><a href="/articles/detail/{{ article.id }}" target="_blank"><img
                                src="/media/{{ article.cover }}"></a></span>
                        <span class="content">{{ article.content | striptags | truncatechars:'80' }}</span>
                    </div>
                    <a href="/articles/detail/{{ article.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                    <p class="views">点击量：{{ article.click }}</p>

                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="page">

            {% if page_object.paginator.num_pages != 1 %}
                <a title="Total record"><b>{{ page_object.paginator.count }}</b></a>
                {% if page_object.has_previous %}
                <a href="{{ path }}"><<</a>
                <a href="{{ path }}{{ page_object.previous_page_number }}"><</a>
                {% else %}
                |
                {% endif %}

                {% for page_num in pages_range %}
                    {% if page_num == page_object.number %}
                    <b>{{ page_num }}</b>
                    {% else %}
                    <a href="{{ path }}{{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_object.has_next %}
                <a href="{{ path }}{{ page_object.next_page_number }}">></a>
                <a href="{{ path }}{{ page_object.paginator.num_pages }}">>></a>
                {% endif %}
            {% endif %}
        </div>

    </div>
</article>
{% endblock articles %}