{% extends 'base.html' %}

{% block head %}
<style>
    body { font-size: 18px }
    .detail { width:90%; margin:0px auto; }
    #title { float:left; }
    .box { overflow:hidden; margin:30px 0; }
    #date { float:right; }
    p { margin-bottom: 20px; text-indent:40px; }
    .previous_next { display: block; margin: 5px 0px; }
    .comments { font-size: 22px; margin: 20px 0px; background: #2a7497; padding: 10px 0; width: 200px; text-align: center; border-radius: 0 30px 30px 0; box-shadow: #21566f 1px 1px 1px; border-left: #dae1e4 6px solid; }

</style>
{% endblock head %}

{% block articles %}
<article>
    <div class="container">
        <div class="detail">
            <div class="box">
                <h2 id="title">{{ article.title }}</h2>
                <h2 id="date">{{ article.date | date:'Y-m-d' }}</h2>
            </div>
            <div class="box">
                {{ article.content | safe }}
            </div>

            {% if previous_article %}
            <a href="/articles/detail/{{ previous_article.id }}" class="previous_next">上一篇：{{ previous_article.title }}</a>
            {% endif%}
            {% if next_article %}
            <a href="/articles/detail/{{ next_article.id }}" class="previous_next">下一篇：{{ next_article.title }}</a>
            {% endif%}

            {% comment %} <h2 class="comments"><b>评论留言：</b></h2> {% endcomment %}
        </div>
    </div>
</article>
{% endblock articles %}

