{% extends 'base_timeline.html' %}

{% block head %}
<script>
    // 使置顶的三幅图可见部分在图片中间
    window.onload = function () {
        var imgArray = document.getElementsByTagName("img")
        for (var i = 1; i < 4; i++){
            imgArray[i].style.marginLeft = "calc((100% - " + imgArray[i].width + "px) / 2)";        
        }
    }
</script>
{% endblock head %}

{% block top %}
<div class="blog" data-scroll-reveal="enter top">
    {% for topArticle in topArticles %}
    <figure>
        <ul>
            <a href="/articles/detail/{{ topArticle.id }}"><img src="/media/{{ topArticle.cover }}"><span>点击查看全文</span></a>
        </ul>
        <p><a href="/articles/detail/{{ topArticle.id }}">{{ topArticle.title | truncatechars:'21' }}</a></p>
        <figcaption>{{ topArticle.content | striptags | truncatechars:'68' }}</figcaption>
    </figure>
    {% endfor %}
</div>
{% endblock top %}