{% extends 'base_timeline.html' %}

<title>首页</title>

{% block top %}
<div class="blog" data-scroll-reveal="enter top">
    {% for topArticle in topArticles %}
    <figure>
        <ul>
            <a href="/articles/detail/{{ topArticle.id }}"><img
                    src="/static/media/{{ topArticle.cover }}"><span>点击查看全文</span></a>
        </ul>
        <p><a href="/articles/detail/{{ topArticle.id }}">{{ topArticle.title | truncatechars:'21' }}</a></p>
        <figcaption>{{ topArticle.content | striptags | truncatechars:'90' }}</figcaption>
    </figure>
    {% endfor %}
</div>
{% endblock top %}