{% extends 'base_timeline.html' %}

{% block head %}
<style>
    body { background: url(/static/images/top_about.jpg) no-repeat center top #4724A6 }
</style>
{% endblock head %}

{% block top %}
<h2 class="ctitle"><b>生活 ● 心情</b></h2>
<div class="photowall">
    <ul class="wall_a">
        <li><a href="/"><img src="/static/images/p01.jpg">
            <figcaption>
                <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
            </figcaption>
        </a></li>
        <li><a href="/"><img src="/static/images/p02.jpg">
            <figcaption>
                <h2>这是个拥挤的地方，而我却很平凡</h2>
            </figcaption>
        </a></li>
        <li>
            <p class="text_a"><a href="/">一个人最好的模样大概是平静一点，坦然接受自己所有的弱点，不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏......</a>
            </p>
        </li>
        <li><a href="/"><img src="/static/images/p03.jpg">
            <figcaption>
                <h2>一些明明我知道会有的痛，依旧会去尝试;一些明明我知道会有的心酸，仍然会去体会 </h2>
            </figcaption>
        </a></li>
        <li><a href="/"><img src="/static/images/p04.jpg">
            <figcaption>
                <h2>每天进步一点点，时间久了，就是一种成功 </h2>
            </figcaption>
        </a></li>
        <li>
            <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
        </li>
        <li><a href="/"><img src="/static/images/p05.jpg">
            <figcaption>
                <h2>生活可以漂泊，可以孤独，但灵魂必须有所归依 </h2>
            </figcaption>
        </a></li>
        <li><a href="/"><img src="/static/images/p06.jpg">
            <figcaption>
                <h2>每天给自己一个希望，试着不为明天而烦恼，不为昨天而叹息，只为今天更美好! </h2>
            </figcaption>
        </a></li>
    </ul>
</div>
{% endblock top %}

