.shade { display: none; position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.8); }
.message { display: none; cursor: default; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 1; width: 250px; height: 120px; text-align: center; line-height: 120px; background-color: rgb(56, 60, 72); border-radius: 3px; color: ivory; letter-spacing:2px; }
.box { font-size: 18px }
.container { background: #0F2E64; }
hr { height:1px; border:none; border-top:1px dashed #0066CC; }
.box hr { height:1px; border:none; border-top:1px dashed rgba(150, 150, 150, 0.3); margin: 10px 0px; }
.detail { width:90%; margin:0px auto; }
#title { float:left; }
.box { overflow:hidden; margin:30px 0; }
#date { float:right; }
.box p { padding:15px; text-indent:40px; }
.box p:hover { background-color: rgba(100, 100, 100, 0.3); }
.previous_next { display: block; margin: 0px 0px 10px 0px; }
.comments { font-size: 22px; margin: 40px 0px; background: #2a7497; padding: 10px 0; width: 200px; text-align: center; border-radius: 0 30px 30px 0; box-shadow: #21566f 1px 1px 1px; border-left: #dae1e4 6px solid; }
form { margin:30px auto; width:calc(100% - 50px); }
form label { display: block; font-size: 16px; margin: 5px 0px; }
#login { color: blue; }
#comment { display: block; background: url(/static/images/articlebg.png) repeat; padding: 5px; font-size:18px; color: white; height: 140px; width:calc(100% - 12px); border:1px solid rgba(150, 150, 150, 0.5) }
#comment::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #BBB; 
    } 
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #BBB; 
    } 
    ::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #BBB; 
    } 
    :-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #BBB; 
    } 
form input {background-color:white; border: none; height: 25px; width: 80px; color:blue; margin: 2px 0px; border-radius: 2px; cursor: pointer; }
form input:hover { background-color: rgb(200, 250, 200); }
#comments_area { overflow:hidden; margin: 20px auto; width:calc(100% - 50px); background-color: #0F2E64; }
#comments_area span { margin: 0px 5px; float: left; }
#comments_area span:first-child { color: violet; }
#comments_area span:last-child { float: right; }
#comments_area p:first-child { overflow: hidden; background-color:rgba(150, 150, 150, 0.3); border-radius: 3px; height:20px; line-height: 20px; }
#comments_area p:last-child { padding: 10px 10px 35px 10px; }
#comments_area p:last-child:hover { background-color: rgba(100, 100, 100, 0.3) }